body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f7f7f7;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.semestre {
  background-color: #ccccff; /* Periwinkle */
  border-left: 8px solid #f3e5f5; /* lila claro */
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.semestre h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button.ramo {
  background-color: #ffffff;
  border: 2px solid #f3e5f5;
  color: #333;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.3s;
}

button.ramo:hover {
  background-color: #ede7f6;
}

button.ramo.aprobado {
  background-color: #c8e6c9;
  border-color: #388e3c;
  color: #2e7d32;
  text-decoration: line-through;
}

button.ramo:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#barra-progreso-container {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}

#barra-progreso {
  height: 30px;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33105D;
  font-weight: bold;
  font-size: 14px;
}

#porcentaje-progreso {
  z-index: 1;
  pointer-events: none;
}
